@{
	ViewData["Title"] = "Home Page";
}

<div style="margin-top:25%!important;margin-left:10%!important">
	<img src="~/images/home.jpg" />
	<div style="margin-top:3%!important;margin-left:40%!important">
		<h2>Restaurante SawLuz</h2>
	</div>
</div>