@model TesteSawLuz.Application.ViewModel.Request.CadastrarEditarPratosResquestViewModel

<div class="modal fade" id="pratoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">
					Cadastrar Prato
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</h3>

			</div>
			<div class="modal-body">
				<form id="dadosPratos">
					<fieldset class="scheduler-border">
						<legend class="scheduler-border">Dados:</legend>
						<div class="form-group input-group mb-3">
							<div class="input-group-prepend">
								<label class="input-group-text">Restaurante</label>
							</div>
							@Html.HiddenFor(x => x.IdPrato, new { @id = "hdnIdPrato" })
							@Html.DropDownListFor(m => m.IdRestaurante, Model.SelectItemRestaurante, new { @class = "custom-select form-control", @id = "ddlRestaurantes" })

						</div>
						<div class="form-group">
							<label>Nome</label>
							@Html.TextBoxFor(x => x.NomePrato, new { @id = "txtNomePrato", @class = "form-control" })
						</div>
						<div class="form-row">
							<label for="c2">Preço (R$)</label>
							<div class="input-group">
								<span class="input-group-addon">R$</span>
								@Html.TextBoxFor(x => x.Valor, new { @type = "number", @min = "0", @step = "0.01", @class = "form-control currency input-md", @id = "txtValor" })
							</div>
						</div>
						<div style="margin-top:2%!important">
						</div>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancelar</button>
				<button type="button" class="btn btn-success" ata-dismiss="modal" id="btnCadastrarEditarPrato"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Salvar</button>
			</div>
		</div>
	</div>
</div>